<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- 声明 JobRepository -->
    <bean id="jobRepository" class="org.springframework.batch.core.repository.support.SimpleJobRepository" />


    <!-- 声明 JobBuilderFactory -->
    <bean id="jobBuilderFactory" class="org.springframework.batch.core.configuration.annotation.JobBuilderFactory" >
        <constructor-arg name="jobRepository" ref="jobRepository" />
    </bean>

    <!-- 声明 platformTransactionManager -->
    <bean id="dataSourceTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <!-- 声明 StepBuilderFactory -->
    <bean id="stepBuilderFactory" class="org.springframework.batch.core.configuration.annotation.StepBuilderFactory">
        <constructor-arg name="jobRepository" ref="jobRepository"/>
        <constructor-arg name="transactionManager" ref="dataSourceTransactionManager" />
    </bean>

    <!-- JobLauncher -->
    <bean id="jobLauncher" class="org.springframework.batch.core.launch.support.SimpleJobLauncher" >
        <property name="jobRepository" ref="jobRepository" />
        <!-- 如果没有引入 TaskExecutor，则默认使用 SyncTaskExecutor -->
    </bean>

</beans>